<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.user.mapper.TSysUserMapper">
    <select id="selectByIdIsPart" parameterType="java.lang.Integer" resultType="com.fh.user.entity.TSysUser">
        select id,realname,phone,sex,birthday,eduid,imgurl from t_sys_user where id = #{id}
    </select>

    <select id="queryEducationData" resultType="java.util.Map">
        select eduId,eduName from t_education
    </select>
</mapper>
